:root {
	--nav-element-spacing-horizontal: 4rem;
}

@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--primary: #4d6600;
		--primary-hover: #779c00;
		--primary-focus: #0e1118;
		--background-color: #191c20;
	}
}
